 @font-face {
   font-family: "Maps-inter-regular";
   src: url("../../assets/fonts/Inter/static/Inter_18pt-Regular.ttf") format('truetype');
   font-weight: 400;
   font-display: normal;
}

 @font-face {
   font-family: "Maps-inter-medium";
   src: url("../../assets/fonts/Inter/static/Inter_18pt-Medium.ttf") format('truetype');
   font-weight: 500;
   font-display: normal;
 }
@font-face {
   font-family: "Maps-inter-SemiBold";
   src: url("../../assets/fonts/Inter/static/Inter_18pt-SemiBold.ttf") format('truetype');
   font-weight: 600;
   font-display: normal;
}
@font-face {
   font-family: "Maps-inter-Bold";
   src: url("../../assets/fonts/Inter/static/Inter_18pt-Bold.ttf") format('truetype');
   font-weight: 600;
   font-display: normal;
}
/**********************************************************************************************/
@font-face {
   font-family: "Maps-quicksand-SemiBold";
   src: url("../../assets/fonts/Quicksand/static/Quicksand-SemiBold.ttf") format("truetype");

   font-weight: 600;
   font-display: normal;
}
@font-face {
   font-family: "Maps-quicksand-Bold";
   src: url("../../assets/fonts/Quicksand/static/Quicksand-Bold.ttf") format("truetype");

   font-weight: 600;
   font-display: normal;
}

