@use '@/assets/styles/utils/mixins' as *;
@use '@/assets/styles/utils/variables' as *;
@use "@/assets/styles/ui/form" as *;

.container {
  position: relative;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-image: url('../../../images/png/passwordBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}


.content {
  padding: 2rem;
  display: grid;
  gap: 2rem;

  @include media-query(desktop) {
    max-width: 420px;
  }

  @include media-query(laptops) {
    max-width: 380px;
  }

  @include media-query(tablet) {
    max-width: 90%;
  }

  @include media-query(mobile) {
    max-width: 90%;
  }
}

.title {
  @include titleStyle(var(--titles), 2.25rem);
}

.subtitle {
  @include textStyle(var(--subtitles), 0.9rem);
  padding-bottom: $spacing-md-lg;
}
.actionButtons{
  .submitbutton {
    margin-top: $spacing-md-lg !important;
    @include button-style(
      var(--submit-button-bg),
      var(--submit-button-text),
      var(--submit-button-border)
    );
}
}
