@use '@/assets/styles/utils/mixins' as *;
@use '@/assets/styles/utils/variables' as *;

.dialogPaper {
  border-radius: 20px !important;
  width: 60vw;
  max-height: 80vh !important; 
  background-color: var(--dialog-image-color) !important;
  display: flex;
  flex-direction: column;
    .label {
    color: var(--text-color);
    padding-bottom: 0.5rem;
    font-size: 1rem;
    font-family: $interMedium;
  }
  @include mui-form-style($input-height: 3rem, $border-color: $grey1, $background: transparent, $placeholder-color: $grey1);
}
.titleText{
  @include textStyle($blue, 1.5rem, $titleSemiBold, left);
}
.closeIcon{
    color: var(--delete-cancel-text-color) !important;
}
.formDialog .actionButtons {
  padding-top: 30px;
.cancelButton{
      @include button-style(transparent, $darkBlue, $darkBlue);
  }
.submitbutton{
      @include button-style($blue, $white, $blue);
      &:hover {
        @include button-style($darkBlue, $white, $darkBlue);
      }
  }  
}

.dialogContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.candidateInfoWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px; 
}

.userInfoRow {
  display: flex;
  gap: 8px; 
}

.userInfoLabel{
  @include textStyle($darkBlue, 1rem, $titleSemiBold, left);
}
.userInfoValue{
  @include textStyle($dustyBlue, 1rem, $titleSemiBold, left);
}
