@use '@/assets/styles/utils/variables' as *;

.toggleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  user-select: none;
  justify-content: center;

  svg {
    width: 24px;
    height: 24px;
  }

  &.closed {
    transform: scaleX(-1);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%) scaleX(-1);

    .label {
      transform: scaleX(-1);
    }
  }
}

.label {
  margin-top: 0.3rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: white;

  [data-theme='light'] & {
    color: $darkBlue;
  }

  writing-mode: vertical-rl;
  text-orientation: mixed;
  text-align: center;
}
